.gallery .inner-container {
  padding: 32px 30px 40px;
  @media screen and (min-width: 768px) {
    padding: 100px 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 177px 0 229px;
  }
}
.gallery{
  min-width: 375px;
  width: 100%;
}
.gallery__title {
  color: #010a20;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 1.4;
  }
  @media screen and (min-width: 1200px) {
    font-size: 60px;
    line-height: 1.5;
    margin-bottom: 41px;
  }
}
.gallery__subtitle {
  max-width: 314px;
  width: 100%;
  color: #6f7787;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0 auto 34px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0 auto 40px;
    max-width: 700px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.18px;
    margin-bottom: 0 auto 54px;
    max-width: 516px;
    width: 100%;
  }
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 13px;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 17px;
  }
  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: 768px) {
      gap: 17px;
    }
    @media screen and (min-width: 1200px) {
      gap: 30px;
    }
    &--3 {
      flex-direction: row;
      @media screen and (min-width: 700px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__img {
    width: 151px;
    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }
  &__img--large {
    height: 217px;
    @media screen and (min-width: 1200px) {
      height: 530px;
    }
  }
  &__img--medium {
    height: 153px;
    @media screen and (min-width: 1200px) {
      height: 370px;
    }
  }
  &__img--small {
    height: 86px;
    @media screen and (min-width: 1200px) {
      height: 210px;
    }
  }
  // &__img{
  //   max-width: 151px;
  //   width: 100%;
  //   object-position: center;
  //   object-fit: cover;
  //   @media screen and (min-width: 1200px) {
  //     max-width: 370px;
  //   }
  // }
}
