.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.header .inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 48px 30px 0;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    padding: 28px 28px 0;
    max-width: 1921px;
  }
}

.header-logo {
  display: flex;
  align-items: flex-end;
  margin-right: 94px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 900;
  line-height: 0.8;
  letter-spacing: 0.28px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    line-height: 80.5%;
    letter-spacing: 0.32px;
    font-size: 24px;
    margin-right: 78px;
  }

  &__svg {
    fill: #fff;
    width: 42px;
    height: 42px;
  }

  .logo-text {
    background: linear-gradient(
      180deg,
      #fff 28.49%,
      rgba(255, 255, 255, 0) 83.19%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  padding: 50px 0 20px 20px;
  z-index: 999;
  

  @media (min-width: 1200px) {
    background-color: transparent;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    width: 572px;
    justify-content: space-between;
    flex-direction: row;

  }



  &__link {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width: 1200px)  {
      font-size: 18px;

    }
  }
}

.burger-menu-input {
  display: none;
}

.burger-menu-input:checked ~ .header-navigation {
display: block;
}

.burger-menu-label {
  @media screen and (min-width:1200px) {
    display: none;
  }
}

.burger-menu-close-input {
  display: none;
}

.burger-menu-close {
position: absolute;
top: 15px;
right: 15px;
z-index: 1000;

.close-svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
}

// .burger-menu-close-input:checked ~ .header-navigation {
//   display: none;
// }

// .close-svg {
//   display: none;
// }

// .burger-menu-input:checked ~ .burger-menu-close .close-svg {
//   display: block;
// }

// .burger-menu-close-input:checked {
//   display: none;
// }

// .burger-menu-input:checked {
//   display: none;
// }