.statistics {
  background-color: rgba(2, 12, 34, 0.9);
  width: 376px;
  height: 929px;
}
.statistics-list__itemone {
  margin-bottom: 89px;
}
.statistics-list__itemtwo {
  margin-bottom: 44px;
}
.statistics-list__itemthree {
  margin-bottom: 69px;
}
.statistics__title {
  margin-bottom: 57px;
  margin-right: 32px;
  margin-left: 30px;
  margin-top: 72px;
  width: 314px;
  height: 52px;
  color: #fff;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}
.statistics__text {
  margin: 0 auto;
  width: 314px;
  height: 167px;
  color: #e0e0e0;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.statistics-list__title {
  margin: 0 auto;
  width: 314px;
  height: 49px;
  color: #dd2242;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}
.statistics-list__info {
  margin-top: 5px;
  margin: 0 auto;
  width: 314px;
  height: 70.229px;
  color: #e0e0e0;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
