.secrets{
    background-image: url(../img/secret-img/secret-background.jpg);
    background-position: center;
    
    @media screen and (min-width: 375px) {
        width: 375px;
        height: 2063px;
    }

}

.secrets .inner-container{
    padding: 44px 0 0;
}

.secrets__title{
    @media screen and (min-width: 375px){
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 42px;
        max-width: 314px;
        margin: 0 auto 23px;
    }
}

// 695px

.carousel-desktop{
    @media screen and (min-width: 375px){
        display: none;
    }
}

.carousel-mobile{
    position: relative;
    padding: 0 30px;
}

.carousel-mobile__img{
    @media screen and (min-width: 375px){
        width: 314px;
        height: 200px;
        border-radius: 9px;
        margin-bottom: 16px;
    }
}

.carousel-mobile__left{
        width: 12px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
    
}

.carousel-mobile__right{
        width: 12px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
}

.carousel-details{
        padding-bottom: 695px;
        margin: 0 auto;
    
}